<div>
	<h1>{{name}}</h1>
	<p><span class="label">{{category}}</span></p>
	<img src="photos/{{imagepath}}" class="img-polaroid" />
</div>
<p></p>
<button type="button" class="btn btn-danger confirm-delete">Delete</button>